.discos-main{
    padding:10rem 0 10rem 0;
    .grid-content-discos{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        grid-template-rows: 3fr 3fr 3fr 3fr;
        justify-content: center;
        align-content: center;
        grid-gap: 0;
        padding: 5rem 0 5rem 0;
    }


    img {
        width: 100%;
        height: auto;
        transition: .5s ease;
        opacity: 1;
        display: block;
    }

    .grid-item-discos{
    justify-items: center;
    align-items: center;
    // transition: .5s ease;
    }

    .container-disco{
            position: relative;
    }

    .placa-text-disco{
        transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;   
    }

    .text-disco{
        color: $text-color;
        opacity: 0;
        transition: .5s ease;

    }

    .container-disco:hover img {
        opacity: 0.1;
    }
    .container-disco:hover .placa-text-disco {
        opacity: 1;
    }
    .container-disco:hover .text-disco{
        opacity: 1
    }

    .name-disco{
    letter-spacing: 0.5rem;
    font-size: 1.3rem;
    }
    .year-disco{
        padding-top: 1rem;
        font-family: $titles-font;
        font-size: 1.4rem;
    }
}