$secondary-color: ivory;
$red: #FF644E;
$grey:rgb (241,241,241);
$titles-font: playfair display;
$text-font: 'Open Sans';
$text-color: #001128;
$no-wrapper: margin-right 0 margin-left 0;
$wrapper-m: margin-right 6rem margin-left 6rem;